.casa {
    background-color: #b5c2b7;
    border-color: #424b54;
    border-width: 1%;
    border-style: solid;
    min-width: 80px;
    min-height: 80px;
}

.casaCivil {
    background-image: url(img/civil.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.casaBombeiro {
    background-image: url(img/bomb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.casaIncendiario {
    background-image: url(img/cj.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.casaChamas {
    background-image: url(img/fogo.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

.casaPolicial {
    background-image: url(img/policial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}