.casa {
    background-color: #b5c2b7;
    border-color: #424b54;
    border-width: 1%;
    border-style: solid;
    min-width: 80px;
    min-height: 80px;
}

.casaCivil {
    background-color: #537ec5
}

.casaBombeiro {
    background-color: #ffdc34
}

.casaIncendiario {
    background-color: rebeccapurple;
}

.casaChamas {
    background-color: red;
}